body {
  font-family: sans-serif;
  background-color: rbg(255, 239, 217);
}

h1 {
  font-family: "Trebuchet MS"; sans-serif;
  color: rbg(219, 96, 69);
}

h2 {
  font-family: Trebuchet MS"; sans-serif;
}

p{
  font-family: sans-serif;
  line-height: 1.5;
  font-size: large;
}

div {
  font-family: sans-serif;
  line height: 1.5;
  font-size: small;
}

label {
  font-family: cursive;
  font-size: small;
}
  
  
