body {
  font-family: sans-serif;
  background-color: white;
  max-width: 40em;
  padding: 0 5%;
  margin: 0 auto;
  
}

.checkbox {
  display: block;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px; 
}

h1 {
  font-family: "Tahoma";
  color: rgb(239, 192, 29);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: "Trebuchet MS"; 
  color:  rgb(239, 192, 29);
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  font-family: "Verdana"; 
  color: rgb(203, 10, 10);
}

p.intro {
  font-family: sans-serif;
  font-size: large;
  color: rgb(203, 10, 10);
}  

p {
  font-family: sans-serif;
  font-size: large;
  color: black;
}

div {
  font-family: "arial";
  line-height: 1.5;
  font-size: small;
  font-weight: lighter;
  text-transform: lowercase;
  color: black;
  padding: .5em;
  border: 0.1px solid #000;
  margin: 2em 0 3em 0;
}

ul {
  font-family: sans-serif;
  font-size: medium;
}

ol {
  font-family: "arial"; 
  line-height: 1.5;
  font-size: medium;
  color: black;
  font-weight: lighter;
}

a {
  font-family: sans-serif;
  font-size: medium;
  color: rgb(239, 192, 29);
  font-weight: lighter;
}

html {
  scroll-behavior: smooth;
}

summary {
  color:black;
  font-size: medium;
  text-align: left;
}

#key-takeaways {
  position: relative;
  max-width: 20em;
  background-color: white;
  margin: 2em;
}

#key-takeaways li::marker {
  color: #00f;
  font-size: 1.2em;
  content: "🥟 ";
}

#key-takeaways::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: ""; 
  width: 50%;
  padding-top: 2em;
  border-top: 0.1em solid #f00;
  border-left: 0.1em solid #f00;
}

#key-takeaways::after {
  
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  content: ""; 
  width: 50%;
  padding-top: 2em;
  border-bottom: 0.1em solid #f00;
  border-right: 0.1em solid #f00;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr.solid {
  border-top: 5px solid #CB0A0A;
  border-radius: 5px;
}













