body {
  font-family: sans-serif;
  background-color:rbg(255, 239, 217);
  margin-left: 30 px;
  margin-right: 30 px;
}

h1 {
  font-family: "Trebuchet MS"; sans-serif;
  color:rbg(219, 96, 69);
}

h2 {
  font-family: "Trebuchet MS"; sans-serif;
  color: blue;
}

h3 {
  font-family: "Trebuchet MS"; sans-serif; 
  color: black;
}

p{
  font-family: sans-serif;
  line-height: 1.5;
  font-size: large;
  color:rbg(155, 13,13);
}

div {
  font-family: sans-serif;
  line height: 1.5;
  font-size: small;
  color: pink;
  padding: 1em;
  border: 0.1px solid #000;
  margin: 2 em 0 3 em 0;
}

label {
  font-family: cursive;
  font-size: small;
  color: orange;
}
  
  
